*{box-sizing:border-box}
/* Regular */
@font-face {
  font-family: "myfont1";
  src:
  url("../font/Nexa-ExtraLight.ttf");
}
/* Bold */
@font-face {
  font-family: "myfont2";
  src:
  url("../font/Nexa-Heavy.ttf");
}
body{
  display: flex;
  justify-content: center;
  margin: 0px;
}
.main{
  width: 1280px;
  background-size:cover;
  background-image: url(../images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.bg-white{
  background-color: #ffffffc4;
}
.bg-blues{
  background-color: #0f203de3;
}
.text-white{
  color: white;
}
.border-left{
  border-left: 50px solid #285A52;
}
.desktop-nav{
  background-color:#0F203D;
  border-bottom: 5px solid #9D7501;
}
.main-mobile{
  display: none;
}
.nav-inner{
  max-width:100%;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:12px 20px;
}
.brand{
  width: 140px;
}
.brand img{
  width: 100%;
}
.brand .mark{
  width:34px; height:34px; border-radius:8px;
  background:linear-gradient(135deg,#22d3ee,#2563eb);
  display:grid; place-items:center; color:white; font-weight:800;
}
.menu{
  display:flex; align-items:center; gap:26px;
}
.menu a{
  color:white; 
  text-decoration:none; 
  font-weight:700;
  font-size: 20px;
  padding:8px 10px; 
  border-radius:8px; 
  transition:.2s ease;
  font-family: myfont2;
}
.active{
  color: #F15B39 !important;
}
.menu a:hover, .menu a:focus-visible{
  background:rgba(148,163,184,.12); outline:none; color:#fff;
}


.mt-1{
  margin-top: 10px !important;
}
.mt-2{
  margin-top: 20px !important;
}
.mt-3{
  margin-top: 30px !important;
}
.row{
  display: flex;
  width: 100%;
}
.col-1 h2{
  font-weight: 700;
  font-family:myfont2;
  font-size: 40px;
  margin: 0px;
  color: #E990B9;
}
.img{
  width: 85%;
}
.d-flex{
  display: flex;
}
.jce{
  justify-content: end;
}
.jcc{
  justify-content: center;
}
.aic{
  align-items: center;
}
.pt{
  padding-top: 30px;
}
.pl{
  padding-left: 20px; 
}
.pr{
  padding-right: 70px; 
}
.pb{
  padding-bottom: 20px; 
}
strong{
  font-family: myfont2;
  font-weight: 700;
}
.bg-blue{
  color: #1E407A;
}
.col-1 p{
  font-family:myfont1;
  font-size: 28px;
  margin: 0px;
}
.col-1{
  width: 50%;
  padding: 20px 30px;
}
.col-2{
  width: 50%;
  font-family:myfont1;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F203D;
  border-top: 5px solid #9D7501;
}
footer .col-1, footer .col-2, footer .col-3{
  width: 33%;
}
footer .col-1 p, footer .col-3 p{
  margin: 0px !important;
  font-family: myfont2;
  color: #ffffff;
  font-size: 20px;
}
footer .col-2 span{
  margin: 0px !important;
  font-family: myfont2;
  color: #ffffff;
  font-size: 24px;
}
.social-icon{
  width: 50px;
  margin-left: 10px;
}
.text-center{
  text-align: center;
}

@media screen and (max-width: 430px) {
  .desktop-nav{
    display: none !important;
  }
  .main-mobile{
    display: block !important;
    background-color: #0F203D;
  }
  .nav-inner{
    border-bottom: 5px solid #9D7501;
  }
  footer, .row {
    display: block !important;
  }
  .col-1, .col-2 {
    width: 100%;
  }
  .flex-dir{
    display: flex !important;
    flex-direction: column-reverse;
  }
  footer .col-1, footer .col-2, footer .col-3 {
    width: 100%;
    text-align: center;
  }
  footer .col-2 {
    justify-content: center;
    margin: 10px 0px 25px 0px; 
  }
  .toggle{
    background-color: #0F203D;
    border: 1px solid white;
    border-radius: 5px;
  }
  .menu a {
    display: block;
  }
  .menu {
    padding: 10px 20px !important;
  }
  .border-left {
    border-left: 15px solid #285A52;
  }
}